// SASS nesting
// https://www.w3schools.com/sass/showsass.php?filename=demo_sass_nest1

// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }
//   li {
//     display: inline-block;
//   }
//   a {
//     display: block;
//     padding: 6px 12px;
//     text-decoration: none;
//   }
// }

$bgcolor: black;
$textcolor: rgb(15, 158, 214);
$fontsize: 18px;

.footer {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
